body{
    margin: 0;
}
canvas {
    border:  1px solid #060606;
}
#mainContent
{
    display: none;
}
#colorSelector>div{
    display:inline-block;
    width:24px;
    height:24px;
    text-align:center;
    line-height:24px;
    margin: 2px;
    vertical-align: middle;
    font: 12px monospace;
    border: 1px solid #060606;
    cursor: pointer;
}
#colorSelector>div.selected{
    border: 3px solid #ff0000;
}
td{
    text-align:center;
    line-height:32px;
    vertical-align: middle;
}