body{
    margin: 0;
    overflow-x: hidden;
}
canvas {
    border:  1px solid #060606;
}
#mainContent
{
    display: none;
}
.colorBlock{
    display:inline-block;
    width:24px;
    height:24px;
    text-align:center;
    line-height:24px;
    margin: 2px;
    vertical-align: top;
    font: 12px monospace;
    border: 1px solid #060606;
}
.pointer{    
    cursor: pointer;
}
.colorBlock.selected{
    border: 3px solid #ff0000;
}
td{
    text-align:center;
    vertical-align: middle;
}